import(GenomicRanges)
import(S4Vectors)
import(methods)
import(BiocGenerics)
import(doParallel)
import(foreach)
#import(ff)
importFrom(ff, ff, matprint, clone.ff, delete, vmode, clone,
	maxffmode, is.ff, is.factor.ff)
#importFrom(ffbase, coerce_to_highest_vmode)
#import(bit)
#import(ffbase)

#importFrom(BiocParallel, bpparam, bpworkers, bplapply)

importFrom(BatchJobs, loadResults, findDone, getJobIds,
   reduceResults, reduceResultsList, loadResult, makeRegistry,
   batchMapResults, submitJobs)

importFrom(BBmisc, chunk)

exportClass("ciseStore")
export(ciseStore)

export(storeToFf, 
  extractByProbes, extractByRanges, storeMapResults, extractBySymbols,
  storeApply, loadAndFilterResult)

#storeToQuantiles, storeToHist, storeToFDR,
#storeToFDRByProbe, 

#importFrom(ff, ff, ffdf, matprint, delete, clone, is.factor.ff)

#importFrom(ffbase, ffappend, save.ffdf)

export(matprint)

exportMethods("extractByProbes")
